.container{
    background-color: aliceblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 4%;
    align-items: center;
}
.note{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
img{
    width: 330px;
    border-radius: 4%;
}
p{
    opacity: 0.6;
    font-size: small;
}